<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Scratchbling</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="hsl(50, 100%, 56%)" />

    <META name="author" content="Pedro Mourelle">
    <META name="copyright" content="Pedro Mourelle">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">


    {% block head %}
    {% endblock head %}
  </head>

  <body>
    <div class="container">
      <div class="row">
        <div class="col col-xs-12">
          <h1>Items</h1>
        </div>
      </div>

      {% block content %}
      <div class="row">
        <div class="col col-xs-12">
          <h2>These are the items currently in database.</h2>
        </div>
      </div>

      <hr>

      <div class="row">
        {% for item in items %}
        <div class="col col-sm-4">
          <div class="card" style="width: 100%;">
            <img class="card-img-top" src="http://lorempixel.com/400/200/" alt="{{ item.item_name }}">
            <div class="card-body">
              <h4 class="card-title">{{ item.item_name }} <br>
                <small>$ {{ item.item_cost }}</small></h4>
              <p class="card-text">{{ item.item_description }}</p>
              <a href="#" class="btn btn-primary">Add to cart</a>
            </div>
          </div>
        </div>

        {% empty %}
        <div class="col-xs-4">
          <div class="alert alert-warning">
            <p>
              <b>Sorry.</b>
              No items were found.
            </p>
          </div>
        </div>
        {% endfor %}
      </div>
      {% endblock content %}
    </div>

    {% block final_scripts %}
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
    {% endblock final_scripts %}
  </body>
</html>
